<h3>Coffee Coffee Menu</h3>

<br>

<div *ngFor="let category of itemCategories">
  <h4>{{category.name}}</h4>

  <br>

  <table>
<!--this is a comment acting as somebody else's feature merge-->
    <tr>
        <th></th>
        <th>Title</th>
        <th>Price</th>
        <th>Extra Ingredients</th>
        <th>Add to Cart</th>
    </tr>

    <tr *ngFor="let item of menuItems">
      <ng-container *ngIf="item.category.categoryID == category.categoryID">

        <td> <img [src]="item.itemPic.picType" [alt]="item.itemPic.picName"> </td>

        <td>{{item.price | currency: 'USD'}}</td>

        <td>
            <button class="btn btn-primary" type="button" data-bs-toggle="collapse" data-bs-target="#extraItemsDiv">
              Select Extra Items
            </button>
            
            <div class="collapse" id="extraItemsDiv">
              <div class="card card-body">
                <div *ngFor="let itemIngredient of menuItemIngredients">
                  <input type="checkbox" id="subscribeNews" name="subscribe" value="newsletter">
                  <label for="subscribeNews">Subscribe to newsletter?</label>
                </div>
              </div>
            </div>

        </td>
        <td><button (click)="addItemToCart()">Add to Cart</button></td>

      </ng-container>
    </tr>
  </table>
</div>
