<div class="container" style="text-align: center;">
    <div style="margin-top: 10px;">
        <h1>Orders</h1>
        <div style="margin-top: 20px;">
            <div class="card text-dark bg-warning mb-3" style="max-width: 18rem;">
                <div class="card-header">Order time: </div>
                <div class="card-body">
                  <h4 class="card-title">Username </h4>
                  <p>Estimated ready time: </p>
                  <h6 style="text-align: left;">Order Items:</h6>
                  <p style="text-align: left;">
                      item:
                      <br>
                      extra adjustments:
                  </p>
                </div>
            </div>
        </div>
    </div>
</div>
