<h3 style="text-align: center;">If you already have our account, please Login</h3>

<div class="form-group row">
    <label for="userInput" class="col-sm-4 col-form-label">Username:</label>
    <div class="col-sm-4">
        <input type="text" class="form-control" id="userInput" [(ngModel)]="username">
    </div>
  </div>
  <div class="form-group row">
    <label for="passwordInput" class="col-sm-4 col-form-label">Password:</label>
    <div class="col-sm-4">
        <input type="password" class="form-control" id="passwordInput" [(ngModel)]="password">
        <span *ngIf="showErrorMessage">The empty input Field is invalid.</span>
    </div>
    <div class="form-group row">
      <div class="col-sm-12">
        <button type="button" class="btn btn-primary" (click)="login()" *ngIf="!checkLogin()">Login</button>
        <!-- Button trigger modal -->
        <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#accountDiv" *ngIf="!checkLogin()">Register Now!</button>
      </div>
    </div>
  </div>
  

<!-- Modal -->
<div class="modal fade" id="accountDiv" aria-labelledby="accountLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="accountLabel">Create a new account for coffee shop</h5>
      </div>
      <form class="form" [formGroup]="registerForm" (ngSubmit)="onSubmit()">
      <div class="modal-body">
          <div class="form-group">
            <label class="form-label" for="inputFirstName">First Name</label>
            <input type="text" class="form-control" id="inputFirstName" formControlName="firstName" required>
            <span class="text-danger"
                *ngIf="(registerFormControl.firstName.touched || submitted) && registerFormControl.firstName.errors?.required">
                FirstName is required
            </span>
          </div>
          <div class="form-group">
            <label class="form-label" for="inputLastName">Last Name</label>
            <input type="text" class="form-control" id="inputLastName" formControlName="lastName" required>
            <span class="text-danger"
                *ngIf="(registerFormControl.lastName.touched || submitted) && registerFormControl.lastName.errors?.required">
                LastName is required
            </span>
          </div> 
          <div class="form-group">
            <label class="form-label" for="inputPhoneNumber">Phone Number</label>
            <input type="text" class="form-control" id="inputPhoneNumber" formControlName="phoneNumber" required>
            <span class="text-danger"
                *ngIf="(registerFormControl.phoneNumber.touched || submitted) && registerFormControl.phoneNumber.errors?.required">
                PhoneNumber is required
            </span>
            <span class="text-danger"
                *ngIf="registerFormControl.phoneNumber.touched && registerFormControl.phoneNumber.errors?.pattern">
                Enter a valid PhoneNumber
            </span>
          </div>
          <!-- <div class="mb-3">
            <label for="inputPhoneNumber" class="col-form-label">Phone Number:</label>
            <input type="text" class="form-control" id="inputPhoneNumber" [(ngModel)]="phoneNumber" pattern="(\d{3})[-]?(\d{3})[-]?(\d{4})" title="Please enter your 10 digits phone number, separated by - or none." required>
          </div> -->
          <div class="form-group">
            <label class="form-label" for="inputEmail">Email</label>
            <input type="text" class="form-control" id="inputEmail" formControlName="email" required>
            <span class="text-danger"
                *ngIf="(registerFormControl.email.touched || submitted) && registerFormControl.email.errors?.required">
                Email is required
            </span>
            <span class="text-danger"
                *ngIf="registerFormControl.email.touched && registerFormControl.email.errors?.email">
                Enter a valid email address
            </span>
          </div>
          <div class="form-group">
            <label class="form-label" for="inputStreet">Street:</label>
            <input type="text" class="form-control" id="inputStreet" formControlName="street" required>
            <span class="text-danger"
                *ngIf="(registerFormControl.street.touched || submitted) && registerFormControl.street.errors?.required">
                Street is required
            </span>
          </div>
          <!-- <div class="mb-3">
            <label for="inputStreet" class="col-form-label">Street:</label>
            <input type="text" class="form-control" id="inputStreet" [(ngModel)]="newAddress.street" title="Please fill out this field." required>
          </div> -->
          <div class="form-group">
            <label class="form-label" for="inputCity">City:</label>
            <input type="text" class="form-control" id="inputCity" formControlName="city" required>
            <span class="text-danger"
                *ngIf="(registerFormControl.city.touched || submitted) && registerFormControl.city.errors?.required">
                City is required
            </span>
          </div>
          <!-- <div class="mb-3">
            <label for="inputCity" class="col-form-label">City:</label>
            <input type="text" class="form-control" id="inputCity" [(ngModel)]="newAddress.city" title="Please fill out this field." required>
          </div> -->
          <div class="form-group">
            <label class="form-label" for="inputZipCode">Zip Code:</label>
            <input type="text" class="form-control" id="inputZipCode" formControlName="zipCode" required>
            <span class="text-danger"
                *ngIf="(registerFormControl.zipCode.touched || submitted) && registerFormControl.zipCode.errors?.required">
                Zip Code is required
            </span>
            <span class="text-danger"
                *ngIf="registerFormControl.zipCode.touched && registerFormControl.zipCode.errors?.pattern">
                Enter a valid Zip Code
            </span>
          </div>
          <!-- <div class="mb-3">
            <label for="inputZipCode" class="col-form-label"></label>
            <input type="text" class="form-control" id="inputZipCode" [(ngModel)]="newAddress.zipCode" pattern="(\d{5})" title="Please fill out this field." required>
          </div> -->
          <div class="form-group">
            <label class="form-label" for="inputUsername">User Name:</label>
            <input type="text" class="form-control" id="inputUsername" formControlName="username"required>
            <span class="text-danger"
                *ngIf="(registerFormControl.username.touched || submitted) && registerFormControl.username.errors?.required">
                Username is required
            </span>
            <span class="text-danger"
                *ngIf="registerFormControl.username.touched && registerFormControl.username.errors?.userNameNotAvailable">
                The username already exists. Please try another one.
            </span>
          </div>
          <div class="form-group">
            <label class="form-label" for="inputPassword">Password</label>
            <input type="password" class="form-control" id="inputPassword" formControlName="password" required>
            <span class="text-danger"
                *ngIf="(registerFormControl.password.touched || submitted) && registerFormControl.password.errors?.required">
                Password is required
            </span>
            <span class="text-danger"
                *ngIf="registerFormControl.password.touched && registerFormControl.password.errors?.invalidPassword">
                Password should have minimum 8 characters, at least 1 uppercase letter, 1 lowercase
                letter and 1 number
            </span>
        </div>
        <div class="form-group">
          <label class="form-label" for="inputConfirmPassword">Confirm Password</label>
          <input type="password" class="form-control" id="inputConfirmPassword" formControlName="confirmPassword" required>
          <span class="text-danger"
              *ngIf="(registerFormControl.confirmPassword.touched || submitted)&& registerFormControl.confirmPassword.errors?.required">
              Confirm Password is required
          </span>
          <span class="text-danger"
              *ngIf="registerFormControl.confirmPassword.touched && registerFormControl.confirmPassword.errors?.passwordMismatch">
              Passwords doesnot match
          </span>
        </div>
      </div>
      <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
          <button type="submit" class="btn btn-success" data-bs-dismiss="modal" [disabled]="!this.registerForm.valid">Register</button>
        </div>
    </form>
    </div>
  </div>
</div>

