<h3 style="text-align: center;">If you already have our account, please Login</h3>

<div class="form-group row">
    <label for="userInput" class="col-sm-4 col-form-label">Username:</label>
    <div class="col-sm-4">
        <input type="text" class="form-control" id="userInput" [(ngModel)]="username">
    </div>
  </div>
  <div class="form-group row">
    <label for="passwordInput" class="col-sm-4 col-form-label">Password:</label>
    <div class="col-sm-4">
        <input type="password" class="form-control" id="passwordInput" [(ngModel)]="password">
        <span *ngIf="showErrorMessage">The empty input Field is invalid.</span>
    </div>
    <div class="form-group row">
      <div class="col-sm-12">
        <button type="button" class="btn btn-primary" (click)="login()" *ngIf="!checkLogin()">Login</button>
        <!-- Button trigger modal -->
        <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#accountDiv" *ngIf="!checkLogin()">Register Now!</button>
      </div>
    </div>
  </div>
  
  <!-- Modal -->
  <div class="modal fade" id="accountDiv" aria-labelledby="accountLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="accountLabel">Create a new account for coffee shop</h5>
        </div>
        <div class="modal-body">
            <div class="mb-3">
              <label for="inputFirstName" class="col-form-label">First Name:</label>
              <input type="text" class="form-control" id="inputFirstName" [(ngModel)]="newAccount.firstName" title="Please fill out this field." required>
            </div>
            <div class="mb-3">
              <label for="inputLastName" class="col-form-label">Last Name:</label>
              <input type="text" class="form-control" id="inputLastName" [(ngModel)]="newAccount.lastName" title="Please fill out this field." required>
            </div>
            <div class="mb-3">
              <label for="inputPhoneNumber" class="col-form-label">Phone Number:</label>
              <input type="text" class="form-control" id="inputPhoneNumber" [(ngModel)]="newAccount.phoneNumber" pattern="(\d{3})[-]?(\d{3})[-]?(\d{4})" title="Please enter your 10 digits phone number, separated by - or none." required>
            </div>
            <div class="mb-3">
              <label for="inputEmail" class="col-form-label">Email:</label>
              <input type="email" class="form-control" id="inputEmail" [(ngModel)]="newAccount.email" title="Please fill out this field." required>
            </div>
            <div class="mb-3">
              <label for="inputStreet" class="col-form-label">Street:</label>
              <input type="text" class="form-control" id="inputStreet" [(ngModel)]="newAddress.street" title="Please fill out this field." required>
            </div>
            <div class="mb-3">
              <label for="inputCity" class="col-form-label">City:</label>
              <input type="text" class="form-control" id="inputCity" [(ngModel)]="newAddress.city" title="Please fill out this field." required>
            </div>
            <div class="mb-3">
              <label for="inputZipCode" class="col-form-label">Zip Code:</label>
              <input type="text" class="form-control" id="inputZipCode" [(ngModel)]="newAddress.zipCode" pattern="(\d{5})" title="Please fill out this field." required>
            </div>
            <div class="mb-3">
              <label for="inputUsername" class="col-form-label">Username:</label>
              <input type="text" class="form-control" id="inputUsername" [(ngModel)]="newAccount.username" title="Username must be unique." required>
            </div>
            <div class="mb-3 container">
              <label for="inputPassword" class="col-form-label">Password:</label>
              <input type="password" class="form-control" id="inputPassword" [(ngModel)]="newAccount.password" #pwd="ngModel" pattern="(?=.*\d)(?=.*[a-z])(?=.*[A-Z]).{8,}" title="Password must contain at least one number and one uppercase and lowercase letter, and at least 8 or more characters" required>
              <div id="message" >
                <h3>Password must contain the following:</h3>
                <p id="letter" class="invalid">A <b>lowercase</b> letter</p>
                <p id="capital" class="invalid">A <b>capital (uppercase)</b> letter</p>
                <p id="number" class="invalid">A <b>number</b></p>
                <p id="length" class="invalid">Minimum <b>8 characters</b></p>
              </div>
            </div>
            <!-- <div class="mb-3" *ngIf="!pwd.errors.pattern" *ngIf="!pwd.errors.pattern">
              <label for="inputPassword" class="col-form-label">Confirm Password:</label>
              <input type="password" class="form-control" id="inputConfirmPassword" name="cpwd" [(ngModel)]="password" pattern="{{pwd.value}}" #cpwd="ngModel" title="Confirm Password and the Password you entered above must match each other" required>
            </div> -->
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
          <button type="button" class="btn btn-primary" data-bs-dismiss="modal" (click)="createAccount()">Submit</button>
        </div>
      </div>
    </div>
  </div>

