<nav class="navbar navbar-expand-lg" style="background-color: #A98163;padding: 1% 2%;border-bottom-left-radius: 20px;border-bottom-right-radius: 20px;">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">{{coffeeShopName}}</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" routerLink="menu">Menu</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">About Us</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="">Contact Us</a>
        </li>
        <!-- if user is manager this will be enabled -->
        <li class="nav-item">
          <a class="nav-link disabled" href="">Order Management</a>
        </li>
      </ul>
      <!-- if user is logged in this will disabled -->
      <div id="loginDiv">
        <button routerLink="login" *ngIf = "!getUser()" class="btn" type="button" style="background-color:whitesmoke;margin-right: 15px;">Login</button>
        <button *ngIf = "getUser()" (click)="logout()" class="btn btn-danger" type="button" style="margin-right: 15px;">Logout</button>
        <span *ngIf="getUser()" style="margin: 0% 25px;">Hello, {{getUsername()}}</span>
      </div>
      
      <button class = "btn" type="button" style="background-color:whitesmoke;">Cart</button>
    </div>
  </div>
</nav>
<router-outlet></router-outlet>