  <h1>Cart List of Items</h1>

    <h1>1. Item Description</h1>

       <tr *ngFor="let item of items;">
          <h2>{{item.item_name}}</h2>
          <h2>Estimated Time: {{item.prep_time}} minutes</h2>
       </tr>
      
       <h2>INGREDIENTS</h2>
          <tr *ngFor="let ingredient of ingredients;">
            <td>{{IngredientOrderItem.ingredientOrderItemID}}</td>
            <td>{{IngredientOrderItem.orderItem}}</td> 
            <td>{{IngredientOrderItem.ingredient}}</td>
            <td>{{IngredientOrderItem.ingredientCount}}</td>  
          </tr>
       <button (click)="addQuantity()" id="addQuantity">Add Quantity</button>
       <button (click)="removeQuantity()" id="removeQuantity">Remove Quantity</button>
       <button (click)="removeItem()" id="removeItem">Remove Item</button>
       




    <h1>2. Items Selected Summary </h1>
  
        <tr *ngFor="let item of items;">
            <td>{{item.id}}</td>
            <td>{{item.item_name}}</td> 
            <td>{{item.item_price}}</td>
            <td>{{item.menu_cat}}</td>
            <td>{{item.item_pic}}</td>
        </tr>
        <h2>Number of Items: {{order_items.item_count}}</h2>
  

   
    <h2>3. Total Cost</h2>

  
    <div class="total-price">
      <div class="container">
        <div class="row">
          <div class="col-xs-2 col-sm-2 col-md-6 col-lg-8">
             Price({{item.length}} items)
          </div>
        <div class="col-xs-10 col-sm-10 col-md-6 col-lg-4">
          <i class="fa fa-inr"></i>&nbsp; {{ Total }}
        </div>
      </div>
    </div>

    <button (click)="Total()" id="submit">Total Price</button>


    <h2>4. Delivery Method</h2>

      <label for="deliveries">Choose a Deliver Type:</label>
      <select name="deliveries" id="deliveries">
         <option value="pickup">Pick Up</option>
         <option value="deliver">Deliver</option>
      </select>




    <h2>5. Payment Method</h2>

      <label for="payments">Choose a payment:</label>
      <select name="payments" id="payments">
         <option value="cash">Cash</option>
         <option value="creditcard">Credit Card</option>
      </select>


    <h2>6. Order Status</h2> 
      <h2 style="color: gold;">Your Order Status: {{order_statuses.status}}</h2>


if(users.username != null){
<button style="display:block;">Confirm Order</button>
} else{
  <h1 style="color: red;">Please Signin to Confirm Order.</h1>
<button style="display:none;">Confirm Order</button>
}