  <h1>Cart List of Items</h1>

    <h1>1. Item Description</h1>

        <tr *ngFor="let item of menuItems;">
            <td>{{item.id}}</td>
            <td>{{item.itemName}}</td> 
            <td>{{itemIngredient.ingredient.ingredientName}}</td>
            <td>Estimated Time: {{item.prep_time}} minutes</td>
            <td>{{item.itemPrice | currency: 'USD'}}</td>
            <td>{{item.itemCategory.category}}</td>
            <td> <img [src]="item.itemPic.picName" [alt]="item.itemPic.picType" width="100" height="100"> </td>
        </tr>
        <h2>Number of Items: {{orderItem.itemCount}}</h2>
  

   
    <h2>2. Total Cost</h2>

       <button (click)="getTotal()" id="submit">Total Price</button>

       <h1>Your Total Amount is : {{ Total }}</h1> 

    <h2>3. Delivery Method</h2>

      <label for="deliveries">Choose a Deliver Type:</label>
      <select name="deliveries" id="deliveries">
         <option value="pickup">Pick Up</option>
         <option value="deliver">Deliver</option>
      </select>


    <h2>4. Payment Method</h2>

      <label for="payments">Choose a payment:</label>
      <select name="payments" id="payments">
         <option value="cash">Cash</option>
         <option value="creditcard">Credit Card</option>
      </select>


      

      <div *ngIf="User.username != null; else elseBlock">  
        <button>Confirm Order</button>
        </div>  
        <ng-template #elseBlock>  
          Please Signin to Place Your Order
        </ng-template>  
        
