<p>cart works!</p>

  <h1>Coffe Shops List of Items</h1>

  <tr *ngFor="let item of items;">
    <td>{{item.id}}</td>
    <td>{{item.item_name}}</td> 
    <td>{{item.item_price}}</td>
    <td>{{item.prep_time}}</td>
    <td>{{item.menu_cat}}</td>
    <td>{{item.item_pic}}</td>
  </tr>
  
  <h2>Number of Items: {{Item_Count}}</h2>
  <button (click)="addQuantity()">Add Quantity</button>
  <button (click)="removeQuantity()">Remove Quantity</button>
  <button (click)="removeItem()">Remove Item</button>

 

  <tr *ngFor="let ingredient of ingredients;">
    <td>{{item.id}}</td>
    <td>{{item.item_name}}</td> 
    <td>{{item.item_price}}</td>
    <td>{{item.prep_time}}</td>
    <td>{{item.menu_cat}}</td>
    <td>{{item.item_pic}}</td>
  </tr>

<h3>Subtotal = item.item_price * order_item.item_count</h3>



<label for="deliveries">Choose a Deliver Type:</label>

<select name="deliveries" id="deliveries">
  <option value="pickup">Pick Up</option>
  <option value="deliver">Deliver</option>
</select>




<!-- More Data Needed -->
<h3>Total = subtotal++++</h3>



<label for="payments">Choose a payment:</label>

<select name="payments" id="payments">
  <option value="cash">Cash</option>
  <option value="creditcard">Credit Card</option>
</select>



if(users.username == users.username){
<button style="display:block;">Submit</button>
} else{
<button style="display:none;">Submit</button>
}