body{
  background-color:lightskyblue;
}

h2{
  color: salmon;
}


#addQuantity{
  background-color: seagreen;
}

#removeQuantity{
  background-color: red;
}



td{
  color:maroon;
}



#removeItem{
  color:aquamarine;
}